.page{
    opacity: 0;
    transition: opacity .2s;
}

.page.is-active{
    opacity: 1;
}

.page__wrapper{
    margin: 0 auto;
    padding: 10px;
    min-width: 400px;
    max-width: 80%;
    background: white;
    border-radius: 5px;
}
.page__title{
    color: #acacac;
    margin: 0 auto;
}

.page__container{
    text-align: center;
}
